<div class="chatContainer">
    <div>
        <ul class="ulParrafosMensajes" id="parrafosMensajes">
        </ul>
    </div>
    <div class="sendContainer">
        <input class="textInput" type="text" id="chatBox">
        <button id="botonChat" class="btn">Enviar</button>
    </div>
</div>