<h1>LOGIN</h1>
<form id="login">
    <label for="email">Email</label>
    <input type="text" required name="email">

    <label for="password">Password</label>
    <input type="text" required name="password">

    <button type="submit">Enviar</button>
</form><br><br>