<h1>Registrarse</h1>
<form id="form">
    <label for="firstName">Nombre</label>
    <input type="text" required name="firstName">

    <label for="description">Apellido</label>
    <input type="text" required name="lastName">

    <label for="age">Edad</label>
    <input type="number" required name="age">

    <label for="email">Email</label>
    <input type="text" required name="email">

    <label for="password">Contraseña</label>
    <input type="text" required name="password">

    <button type="submit">Enviar</button>
</form><br><br>